<a href="https://colab.research.google.com/github/sglhsr/Machine_Learing/blob/main/Transcript.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%pylab inline
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [ ]:
#中文姓名產生器
name_str="林佳貴, 林孟倫, 楊佳云, 李奎秀, 邱志瑋, 童上雄, 葉怡君, 賴佳琳, 蔡允宣, 王法漢"
name_lst=name_str.split(", ")
name_lst

['林佳貴', '林孟倫', '楊佳云', '李奎秀', '邱志瑋', '童上雄', '葉怡君', '賴佳琳', '蔡允宣', '王法漢']

In [ ]:
#確認長度對不對
len(name_lst)

10

In [ ]:
grades=normal(75,15,(10,3))
grades

array([[86.29736403, 79.83442042, 90.48928042],
       [83.23583593, 70.54726534, 81.2990171 ],
       [81.53134872, 67.66802494, 65.92630909],
       [72.14608705, 80.32241501, 88.51204651],
       [73.30073169, 69.33618441, 71.38571343],
       [92.46179611, 66.30286424, 83.42094657],
       [75.419683  , 69.22944616, 73.93936583],
       [77.19636141, 77.24354325, 84.61544778],
       [61.82260127, 76.84973992, 70.33091105],
       [79.89000609, 78.68718762, 59.26604097]])

In [ ]:
df=pd.DataFrame(grades,index=name_lst,
               columns=["國文","英文","數學"])
df.head()

            國文         英文         數學
林佳貴  86.297364  79.834420  90.489280
林孟倫  83.235836  70.547265  81.299017
楊佳云  81.531349  67.668025  65.926309
李奎秀  72.146087  80.322415  88.512047
邱志瑋  73.300732  69.336184  71.385713

In [ ]:
df["國文"].mean()

78.33018153040152

In [ ]:
df.國文.mean()  #python可以直接欄變成變數看待

78.33018153040152

In [ ]:
df.describe()  #各種平均 標準差等資訊

              國文         英文         數學
count  10.000000  10.000000  10.000000
mean   78.330182  73.602109  76.918508
std     8.470338   5.465163  10.298927
min    61.822601  66.302864  59.266041
25%    73.830470  69.256131  70.594612
50%    78.543184  73.698503  77.619191
75%    82.809714  78.326277  84.316822
max    92.461796  80.322415  90.489280

In [ ]:
df2=df[["國文","英文"]] #指定欄位
df2.head()

            國文         英文
林佳貴  86.297364  79.834420
林孟倫  83.235836  70.547265
楊佳云  81.531349  67.668025
李奎秀  72.146087  80.322415
邱志瑋  73.300732  69.336184

In [ ]:
df["組別"]=[1,1,1,2,2,2,3,3,3,3] #直接新增欄位
df

            國文         英文         數學  組別
林佳貴  86.297364  79.834420  90.489280   1
林孟倫  83.235836  70.547265  81.299017   1
楊佳云  81.531349  67.668025  65.926309   1
李奎秀  72.146087  80.322415  88.512047   2
邱志瑋  73.300732  69.336184  71.385713   2
童上雄  92.461796  66.302864  83.420947   2
葉怡君  75.419683  69.229446  73.939366   3
賴佳琳  77.196361  77.243543  84.615448   3
蔡允宣  61.822601  76.849740  70.330911   3
王法漢  79.890006  78.687188  59.266041   3

In [ ]:
df["加權分數"]=df.數學*0.5+df.英文*0.25+df.國文*0.25
df

            國文         英文         數學  組別       加權分數
林佳貴  86.297364  79.834420  90.489280   1  86.777586
林孟倫  83.235836  70.547265  81.299017   1  79.095284
楊佳云  81.531349  67.668025  65.926309   1  70.262998
李奎秀  72.146087  80.322415  88.512047   2  82.373149
邱志瑋  73.300732  69.336184  71.385713   2  71.352086
童上雄  92.461796  66.302864  83.420947   2  81.401638
葉怡君  75.419683  69.229446  73.939366   3  73.131965
賴佳琳  77.196361  77.243543  84.615448   3  80.917700
蔡允宣  61.822601  76.849740  70.330911   3  69.833541
王法漢  79.890006  78.687188  59.266041   3  69.277319

In [ ]:
#Group By用組別收集,用於後續計算 mean等,而不是建新的dataframe
gpy=df.groupby("組別")
gpy.mean()

           國文         英文         數學       加權分數
組別
1   83.688183  72.683237  79.238202  78.711956
2   79.302872  71.987155  81.106236  78.375624
3   73.582163  75.502479  72.037941  73.290131